@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=National+Park:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.destaque-1 {
    color: #9D32D9;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao_conteudo {
    width: 615px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: "National Park", sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: "National Park", sans-serif;
}